@using Choless.Core.Brands
@inject BrandManager brandManager

<div>
    @{
        var IEnumerable<> = brandManager.GetBrandsByCommodityClass();
        foreach (var property in typeof(Brand)) {
            
        }
                
    }
</div>
